* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #b59e83;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #e1d7ca;
  height: 640px;
  width: 980px;
  border-radius: 20px;
  box-shadow: 20px 15px 20px 18px rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template: 60px 1fr / 1fr 2.5fr;
  border: 1px solid #b59e83;
  outline: 10px solid #e1d7ca;
}

.search-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-left: 20px;
  gap: 2px;
}

.search-panel > input {
  padding: 10px;
  border: 1px solid #a29a90;
  border-radius: 20px;
  background-color: #d9c9b6;
  flex: 1;
  height: 2rem;
}

.search-panel > div {
  border: 1px solid #a29a90;
  background-color: #d9c9b6;
  height: 2rem;
  width: 2rem;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-panel > div:hover {
  cursor: pointer;
  opacity: 0.8;
}

.search-panel > div > img {
  height: 25px;
}

.header {
  padding-left: 30px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  gap: 2px;
}

.header > button,
.pfp {
  height: 2rem;
  border: 1px solid #a29a90;
  border-radius: 20px;
  background-color: #d9c9b6;
  padding: 0 25px;
}

.pfp {
  height: 2rem;
  width: 2rem;
  border-radius: 30px;
  padding: 0;
}

.header > button:hover,
.pfp:hover {
  cursor: pointer;
  opacity: 0.8;
}

.header .profile {
  margin-left: auto;
  /* padding: 0px 35px; */
}

.side-panel {
  padding: 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.side-panel > div {
  flex: auto;
  /* border: 1px solid red; */
}

.cover-photo {
  border: 1px solid #9b8171;
  border-radius: 20px;
  /* width: 200px; */
  aspect-ratio: 1/1;
  background-color: #d8ccba;
}

.new-book {
  padding: 10px;
  border-radius: 20px;
  background-color: #bda791;
  border: 1px solid #706155;
}

.book-details {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.book-details > div {
  flex: auto;
  border: 1px solid #706155;
  border-radius: 20px;
}

.main {
  display: grid;
  grid-template-rows: 100px 1fr;
  margin: 0px 20px 10px 30px;
  gap: 10px;
}

.main-info {
  display: grid;
  grid-template: 4fr 2fr / 4fr 1fr;
}

.main-info > img {
  grid-area: 1 / 2 / span 2 / span 1;
  height: 90%;
  border-radius: 50px;
  box-shadow: 5px 3px 10px 2px rgba(0, 0, 0, 0.4);
}

.headline {
  font-weight: bold;
  font-size: 70px;
  padding: 0px;
}

.book-container {
  padding: 10px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 30px;
  /* column-gap: 30px; */
  overflow-y: overlay;
  max-height: 450px;
  scrollbar-gutter: stable;
}

.book-container::-webkit-scrollbar {
  width: 10px;
}

.book-container::-webkit-scrollbar-track {
  background: #d9c9b6;
  border-radius: 10px;
}

.book-container::-webkit-scrollbar-thumb {
  background-color: #b59e83;
  border-radius: 10px;
  border: 2px solid #d9c9b6;
}

.book-container::-webkit-scrollbar-thumb:hover {
  background-color: #6f5e4f;
}

.book {
  width: 180px;
  height: 200px;
  background-color: #d4c4b0;
  border: 1px solid #8b7e74;
  border-radius: 20px;
  outline: 5px solid #e1d7ca;
  box-shadow: -4px -4px 5px 1px white, 5px 5px 5px 4px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
  padding: 10px 15px;
}

.book > div {
  padding: 3px;
}

.book > div:not(:last-child) {
  border-bottom: 1px solid black;
}

.page-count {
  display: flex;
  justify-content: space-between;
}

.book-status {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.book-status :first-child,
.book-status :nth-child(3) {
  border-right: 1px solid black;
}

.book-status :first-child,
.book-status :nth-child(2) {
  border-bottom: 1px solid black;
}

.book-status > * {
  padding: 3px;
}
